
<div class="form-group">
    <label for="number-of-rounds">Number of Rounds: </label>
    <div id="number-of-rounds" class="btn-group">
        <span id="add" class="btn btn-primary">+</span>
        <span id="number" class="btn btn-default">1</span>
        <span id="remove" class="btn btn-warning">-</span>
    </div>
    <div id="round-details-container">
        <div class="round-container">
            <div class="round-heading">Round 1</div>
            <div class="round-input">
                <div class="form-group">
                    <label for="round-0-length">Length</label>
                    <input type="number" step="0.1" name="Rounds[0].LengthInKilometers" id="round-0-length" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="round-0-rest">Maximum rest time</label>
                    <input type="number" name="Rounds[0].MaxRestTimeInMinutes" id="round-0-rest" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
