@{
    ViewData["Title"] = "View";
}

@model Endurance.Web.Trial.ViewModels.Trial.CreateTrialViewModel

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-controller="Trials"
              asp-action="Create"
              method="post">

            @Html.EditorFor(m => m.Name)

            @Html.EditorFor(m => m.Location)

            @Html.Partial("_TrialRound")

            <input type="submit" class="btn btn-primary" value="Create" />
        </form>
    </div>
</div>


@section Scripts {
    <script src="/js/generateRounds.min.js"></script>
}