@model IList<Endurance.Web.Trial.ViewModels.Trial.TrialShortViewModel>

<div class="row">
    <table>
        <thead>
            <tr>            
                <td>Index</td>
                <td>Name</td>
                <td>Manage</td>
            </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            var trial = Model[i];
            <tr>
                <td>@i</td>
                <td>@trial.Name</td>
                <td><a href="/trials/manage/@trial.Id">Manage</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>