@model IList<float>

<p>Avarage speed</p>
<div class="container">
@for (var i = 0; i < Model.Count; i++)
{
    var firstRound = i == 0;

    <p>
        <span>
            @(firstRound
                          ? "Round 1: "
                          : $"Rounds 1-{i + 1}")
        </span>
        <strong>@Math.Round(Model[i], 2) km/h</strong>
    </p>
}
</div>
