@model IList<Endurance.Web.Trial.ViewModels.Trial.TrialShortViewModel>

@{
    var count = default(int);
}

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Manage</th>
                <th scope="col">Add Competitor</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var trial in Model)
                {
                    count++;
                    var isActive = trial.IsActive;

                    <th scope="row">@count</th>
                    <td>@trial.Name</td>
                    <td>
                        @Html.ActionLink("Manage", "Manage", "Trials", new { id = trial.Id })
                    </td>
                    <td>
                        @if (isActive)
                        {
                            <i>- Cannot add for active trials -</i>
                        }
                        else
                        {
                            @Html.ActionLink("Add competitors", "Create", "Competitors", new {trialId = trial.Id, @class = "btn btn-primary"})
                        }
                    </td>
                    <td>
                        <partial name="_ActivateTrial" model=@trial />
                    </td>                                
                }
            </tr>
        </tbody>     
    </table>
</div>

@section Scripts {
    <script src="js/activateTrial.js"></script>
}